.container {
    display: grid;
    grid-template-columns: 1fr 6fr; 
    gap: 10px; 
    padding-top: 5rem;
    position:static;
}

.Contact, .message, .input {
    border: 1px solid black;
    padding: 10px; 
    box-sizing: border-box; 
}
.message{
    height: 90vh;
    overflow: hidden;
}
.icon{
    display: none;
}
@media only screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 8fr; 
        gap: 10px; 
    }
    
    .icon{
        display: block;
    }
    .Contact, .message, .input {
        padding: 5px 0px;
        box-sizing: border-box; 
    }
    .Contact{
        font-size: medium;
        width: 3rem;
        overflow: hidden;
    }
  }
  